<mat-toolbar color="primary">
  <span>Configuration</span>
</mat-toolbar>
<div fxFlex="1 1 90%" fxLayout="column">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-accordion fxLayout="column" multi="true" *ngIf="setups.length > 0 && !isLoading">
    <mat-expansion-panel fxLayout="column" *ngFor="let setup of setups" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center" fxLayoutGap="gappx">
          {{ setup.setupName }}
        </mat-panel-title>
        <!-- <mat-panel-description fxLayoutAlign="center" fxLayoutGap="gappx" fxHide.lt-lg>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <mat-action-row *ngIf="userIsAuthenticated && username === setup.username">
        <button mat-button color="primary" (click)="openBottomSheet(setup)">
          Review
        </button>
        <button mat-button color="warn" (click)="onDelete(setup.id)">
          Delete
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator
    fxLayout="column"
    fxFlex="80%"
    fxFlex.gt-sm="60%"
    fxFill
    *ngIf="setups.length > 0"
    [length]="totalSetups"
    [pageSize]="setupsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
  >
  </mat-paginator>
  <p class="info-text mat-body-1" *ngIf="setups.length <= 0 && !isLoading">
    No setups added yet!
  </p>
</div>
