<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
  <app-search-bar></app-search-bar>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="gappx">
  <div fxLayout="column" fxFlex="20" fxLayoutAlign=" center" fxLayoutGap="gappx">
    <app-filter-list></app-filter-list>
  </div>

  <div fxLayout="column" fxFlex="60" fxLayoutAlign=" center" fxLayoutGap="gappx">
    <app-board></app-board>
  </div>
  <div fxLayout="column" fxFlex="20" fxLayoutAlign=" center" fxLayoutGap="gappx">
    <app-configuration-list></app-configuration-list>
  </div>
</div>
