<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-button (click)="onToggleSidenav()"><mat-icon>menu</mat-icon></button>
  </div>
  <div>
    <span><a routerLink="/">IoT Simulator</a></span>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-md>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="userIsAuthenticated">
        <button mat-button [matMenuTriggerFor]="features">Action Menu</button>

        <mat-menu #features="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item [matMenuTriggerFor]="devices">Devices</button>
            <button mat-menu-item [matMenuTriggerFor]="rooms">Rooms</button>
            <button mat-menu-item [matMenuTriggerFor]="polygons">Area</button>
          </ng-template>
        </mat-menu>
        <mat-menu #devices="matMenu">
          <ng-template matMenuContent>
            <a mat-menu-item routerLink="/create" routerLinkActive="mat-accent">New device</a>
            <a mat-menu-item routerLink="/" routerLinkActive="mat-accent">Devices list</a>
          </ng-template>
        </mat-menu>
        <mat-menu #rooms="matMenu">
          <ng-template matMenuContent>
            <a mat-menu-item routerLinkActive="mat-accent">New Room</a>
            <a mat-menu-item routerLinkActive="mat-accent">Rooms list</a>
          </ng-template>
        </mat-menu>
        <mat-menu #polygons="matMenu">
          <ng-template matMenuContent>
            <a mat-menu-item routerLinkActive="mat-accent">New Area</a>
            <a mat-menu-item routerLinkActive="mat-accent">Areas list</a>
          </ng-template>
        </mat-menu>
      </li>

      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/playground" routerLinkActive="mat-accent">Playground</a>
      </li>
      <mat-divider [vertical]="true"></mat-divider>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/explore" routerLinkActive="mat-accent">Explore</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/guide" routerLinkActive="mat-accent">Guide</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/about" routerLinkActive="mat-accent">About</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <mat-divider [vertical]="true"></mat-divider>
      <li *ngIf="userIsAuthenticated" matTooltip="User Settings">
        <button mat-button>
          <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="">
            <mat-icon>account_box</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent let-name="name">
              <a mat-menu-item routerLink="/auth/profile">Settings</a>
              <button mat-menu-item (click)="onLogout()">Logout</button>
            </ng-template>
          </mat-menu>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
