:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}
mat-spinner {
  margin: auto;
}
.post-image {
  width: 100%;
  padding: 10px;
}
.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
mat-paginator {
  margin-top: 1rem;
}
p {
  font-size: 15px;
  text-align: center;
}
.mat-expansion-panel-header {
  padding: 0px 20px !important;
}
@media only screen and (min-width: 960px) {
  /* ::ng-deep .mat-list-item {
    font-size: 14px !important;
    height: 20px !important;
  }
  #profile {
    padding-bottom: 33px !important;
  } */
}
@media only screen and (max-width: 959px) {
  ::ng-deep .mat-expansion-panel-header {
    font-size: 14px !important;
    height: 40px !important;
  }
  p {
    font-size: 12px;
    text-align: center;
  }
  mat-action-row,
  button,
  mat-action-row a {
    line-height: 10px !important;
    font-size: 8px !important;
    padding: 5px !important;
    min-width: 10px !important;
    height: 20px !important;
  }
}

@media only screen and (max-width: 599px) {
  p {
    font-size: 10px;
    text-align: center;
  }
  mat-action-row,
  button,
  mat-action-row a {
    line-height: 10px !important;
    font-size: 8px !important;
    padding: 5px !important;
    min-width: 10px !important;
    height: 20px !important;
  }
}
