<div id="stepper" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-spinner *ngIf="isLoading"></mat-spinner
  ><mat-vertical-stepper fxLayout="column" linear #stepper>
    <mat-step fxLayout="column" [stepControl]="frmStepOne" label="Device basic details">
      <app-basic-details-step-one></app-basic-details-step-one>
    </mat-step>
    <mat-step fxLayout="column" [stepControl]="frmStepTwo" label="Application Layer">
      <app-application-layer-step-two></app-application-layer-step-two>
    </mat-step>
    <mat-step fxLayout="column" [stepControl]="frmStepThree" label="Network">
      <app-network-step-three></app-network-step-three>
    </mat-step>
    <mat-step fxLayout="column" [stepControl]="frmStepFour" label="Link Layer details">
      <app-link-layer-step-four></app-link-layer-step-four>
    </mat-step>
    <mat-step fxLayout="column" [stepControl]="frmStepFive" label="Link Layer: Wifi details">
      <app-wifi-step-five></app-wifi-step-five>
    </mat-step>
    <mat-step fxLayout="column" [stepControl]="frmStepSix" label="Link Layer: Ethernet details">
      <app-ethernet-step-six></app-ethernet-step-six>
    </mat-step>
    <mat-step fxLayout="column">
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
        <button mat-button color="accent" (click)="onSubmit()">
          Save
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <div *ngIf="diagnostics" class="diagnostics">
    {{ this.formService.initDevice.value | json }}
  </div>
</div>
