<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>IoT Simulator</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Internet of Things Simulator that takes care of the hassle of choosing the right devices in
        order to get a working networking and interoperability between devices. Not all the devices
        available on the market are compatible Google Assistant and Alexa. Some of them may require
        proprietary hubs in order to get connect to the local network.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/BlueCC8/iot-simulator-api" mat-button>API GitHub</a>
      <a href="https://github.com/BlueCC8/iot-simulator-ng" mat-button color="accent"
        >Angular GitHub</a
      >
    </mat-card-actions>
  </mat-card>
</div>
<div id="main" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="gappx">
  <div
    class="ply-comp"
    fxLayout="column"
    fxFill
    fxFlex="20"
    fxLayoutAlign=" center"
    fxLayoutGap="10px"
  ></div>
  <mat-divider [vertical]="true"></mat-divider>
  <div
    class="ply-comp"
    fxLayout="column"
    fxFill
    fxFlex="60"
    fxLayoutAlign=" center"
    fxLayoutGap="10px"
  ></div>
  <mat-divider [vertical]="true"></mat-divider>
  <div
    class="ply-comp"
    fxLayout="column"
    fxFill
    fxFlex="20"
    fxLayoutAlign=" center"
    fxLayoutGap="10px"
  ></div>
</div>
