/* mat-panel-title {
  font-size: 1.2vw;
}
mat-list-item,
mat-line {
  font-size: 1vw !important;
}
/* mat-expansion-panel-body {
  padding: 0 10px 16px !important;
} */
/* mat-action-row {
  padding: 1vw 1vw 1vw 1.2vw;
}
*/

/* mat-panel-description {
  font-size: 1.5vw !important;
} */
/* mat-icon {
  font-size: 1.2vw !important;
} */
/* mat-list-item {
  height: 20px !important;
} */
/* .mat-expansion-panel-header {
  padding: 0px !important;
} */
::ng-deep .mat-expansion-panel-body {
  padding: 5px !important;
}
p {
  color: rgba(0, 0, 0, 0.54);
}
span {
  text-align: center;
}
::ng-deep .mat-expansion-panel-header {
  height: 1.2vw;
  padding: 0px 10px !important;
  /* background-color: rgba(0, 0, 0, 0.1) !important; */
}
::ng-deep .mat-expansion-panel-body {
  /* background-color: rgba(0, 0, 0, 0.1) !important; */
}

@media only screen and (max-width: 599px) {
  ::ng-deep .mat-expansion-panel-header {
    font-size: 8px !important;
    height: 30px !important;
  }
  ::ng-deep .mat-list-item {
    font-size: 8px !important;
    height: 20px !important;
  }
  mat-action-row,
  button {
    line-height: 10px !important;
    font-size: 8px !important;
    padding: 5px !important;
    min-width: 10px !important;
  }
  mat-toolbar {
    font-size: 12px;
  }
}
