mat-panel-title {
  font-size: 1.2vw;
}
mat-list-item,
mat-line {
  font-size: 1vw !important;
}
mat-expansion-panel-body {
  padding: 0 10px 16px !important;
}
mat-action-row {
  padding: 1vw 1vw 1vw 1.2vw;
}
mat-action-row,
button {
  line-height: 3vw;
  font-size: 1.2vw;
  min-width: 0.8vw;
}
/* mat-panel-description {
  font-size: 1.5vw !important;
} */
mat-icon {
  font-size: 1.2vw !important;
}
mat-list-item {
  height: 20px !important;
}
