<mat-accordion>
  <mat-expansion-panel *ngFor="let device of devices">
    <mat-expansion-panel-header> {{ device.devName }} </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <h3 matLine>{{ device.devName }}</h3>
        <p matLine></p>
      </mat-list-item>
    </mat-list>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header> {{ device.devName }} </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <h3 matLine>{{ device.devName }}</h3>
            <p matLine></p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
