<div fxLayout="row" fxFlexAlign="center" fxFill>
  <button
    [disabled]="!currentRoom"
    (click)="onSaveConfig()"
    mat-raised-button
    matTooltip="Save your configuration here"
    color="accent"
    fxFlexAlign="center"
    fxFill
  >
    <span>Save configuration</span>
  </button>
</div>

<div class="example-boundary" fxFlexAlign="center" #board>
  <div
    class="example-box"
    cdkDragBoundary=".example-boundary"
    cdkDrag
    *ngFor="let device of boardDevices"
    (dblclick)="doubleClick($event, device.id)"
  >
    <!-- <img
      matTooltip="Drag me around"
      fxFill
      *ngIf="device"
      [src]="device.devImgUrl"
      [alt]="device.devName"
    />
  </div> -->
  </div>
  <app-graph
    fxLayout="column"
    fxFlex="100"
    fxLayoutAlign=" center center"
    fxLayoutGap="10px"
    [nodes]="nodes"
    [links]="links"
  ></app-graph>
</div>
